
html{
    box-sizing: border-box;
    background-color: #F5F7FA;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: 'Big Shoulders Stencil Text', cursive;

    /*font-family: 'Nerko One', cursive;*/
}




.name{
    font-family:'Big Shoulders Stencil Text', cursive ;
    font-size: 80px;
    color: white;
    justify-content: flex-start;
}

.navbar{
    font-family:'Big Shoulders Stencil Text', cursive;
    color: white;
    font-size: 50px;
}



[class*=a]{
    text-decoration: none;
}






 .section-flex{
     margin-top: 10vh;
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: black;
 }

 .heading{
     text-align: center;
     font-size:70px;
     color: white;
 }
 .under-heading{
     font-size: 50px;
     color: white;
 }
 .under-subheading{
    font-size: 30px;
    color: white;
}

.gradient{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    margin: -47px -8px -8px -8px;
    align-items: center;
}


.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    
}


.workexp{
    display: flex;
    font-size:70px;
    background-color: #000000;
    color: #F5F7FA;
    justify-content: center;
    margin: 0 0;
    margin-left: -8px;
    margin-right: -8px;
}

@media only screen and (min-width: 320px) and (max-width:480px)
{
    .kapish{
        width: 150px;
		height: 150px;
        border-radius: 50%;
        -webkit-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        -moz-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        justify-content:center;
    }
    .photo{
    
        background: url(../images/raindrops.svg);
        width:110%;
        margin: -100px -8px -8px -8px;
        background-repeat: no-repeat;
        background-color: black; 
    }
    .name{
        font-size:35px;
    }
    nav{
        display: flex;  
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin: -14px -8px 0px -10px;
        background-color: black; 
        padding-bottom: 80px;    
        
     }
     .line-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: 60vh;
        margin-top: 10px;
    }
    .kapish{
        margin-top: 10px;
        margin-bottom: 10px;
    }

     .line-1{
        margin-top: 0;   
        font-size: 40px;
        color:white;        
        margin: 0;
        animation:rollIn; 
        animation-duration: 3s;
        top:1%;
        left:1%; 
        align-self: center;
        
     }

  
     .mait{
        padding: 30px;
        margin: -8px -8px -8px -8px;
        display: flex;
        flex-direction: column;
        background-color: black;
        color:white;
        justify-content: stretch;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        

        
    }
    .logo{
        width: 100%;
        height: 200px;
    }

    .imgs{
        width: 200px;
        height: 200px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:40px 10px 40px 10px;
        margin: -1px -8px -8px -8px;
        background-color: black;
        color: white;
        

    }
    .social-mediaimg{
        width:60px;
        height: 60px;
    }

}



@media only screen and (min-width: 481px) and (max-width:767px)
{
    .kapish{
        width: 200px;
		height: 200px;
        border-radius: 50%;
        -webkit-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        -moz-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        justify-content:center;
        margin: 1px 210px 10px 170px
    }
    .photo{
    
        background: black;
        width:120%;
        margin: -100px -8px -8px -8px;
        background-repeat: no-repeat;
        background-color: black; 
    }
    nav{
        display: flex;  
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin: -14px -8px 0px -10px;
        background-color: black; 
        padding-bottom: 80px;    
        
     }
     .line-parent{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        font-size: 40px;
        margin-top: -300px;
    }

     .line-1{
        margin-top: 0;   
        font-size: 60px;
        color:white;        
        margin: 0;
        animation:rollIn; 
        animation-duration: 3s;
        top:1%;
        left:1%; 
        align-self: center;
        
     }

  
     .mait{
        padding: 30px;
        margin: -8px -8px -8px -8px;
        display: flex;
        flex-direction: column;
        background-color: black;
        color:white;
        justify-content: stretch;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        

        
    }
    .logo{
        width: 100%;
        height: 200px;
    }

    .imgs{
        width: 200px;
        height: 200px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:40px 10px 40px 10px;
        margin: -1px -8px -8px -8px;
        background-color: black;
        color: white;
        

    }
    .social-mediaimg{
        width:60px;
        height: 60px;
    }

}




@media only screen and (min-width: 768px) and (max-width:1024px) {
    .kapish{
        width: 350px;
		height: 350px;
        border-radius: 50%;
        -webkit-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        -moz-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        margin-top: 60px;
        margin-bottom: 60px;

    }
    .photo{
    
        background: url(../images/raindrops.svg);
        width:105%;
        margin: -100px -8px -8px -8px;
        background-repeat: no-repeat;
        background-color: black; 
        
    }
    nav{
        display: flex;  
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin: -14px -8px 0px -10px;
        background-color: black; 
        padding-bottom: 80px;    
        
     }
     .line-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: 100vh;
        font-size: 50px;
        margin-top: 10px;
    }

     .line-1{
        margin-top: 0;   
        font-size: 60px;
        color:white;        
        margin: 0;
        animation:rollIn; 
        animation-duration: 3s;
        top:1%;
        left:1%; 
        align-self: center;
        
     }

  
     .mait{
        padding: 30px;
        margin: -8px -8px -8px -8px;
        display: flex;
        flex-direction: column;
        background-color: black;
        color:white;
        justify-content: stretch;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        

        
    }
    .logo{
        width: 50%;
        height: 200px;
    }

    .imgs{
        width: 200px;
        height: 200px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:40px 10px 40px 10px;
        margin: -1px -8px -8px -8px;
        background-color: black;
        color: white;
        

    }
    .social-mediaimg{
        width:60px;
        height: 60px;
    }   

}
@media only screen and (min-width: 1025px) and (max-width:1280px) {
    .kapish{
        width: 350px;
		height: 350px;
        border-radius: 50%;
        -webkit-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        -moz-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        margin-top: 60px;
        margin-bottom: 60px;

    }
    .photo{
    
        background: url(../images/raindrops.svg);
        width:105%;
        margin: -100px -8px -8px -8px;
        background-repeat: no-repeat;
        background-color: black; 
        
    }
    nav{
        display: flex;  
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin: -14px -8px 0px -10px;
        background-color: black; 
        padding-bottom: 80px;    
        
     }
     .line-parent{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        font-size: 50px;
        margin-top: 10px;
    }

     .line-1{
        margin-top: 0;   
        font-size: 60px;
        color:white;        
        margin: 0;
        animation:rollIn; 
        animation-duration: 3s;
        top:1%;
        left:1%; 
        align-self: center;
        
     }

  
     .mait{
        padding: 30px;
        margin: -8px -8px -8px -8px;
        display: flex;
        flex-direction: column;
        background-color: black;
        color:white;
        justify-content: stretch;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        

        
    }
    .logo{
        width: 50%;
        height: 200px;
    }

    .imgs{
        width: 200px;
        height: 200px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:40px 10px 40px 10px;
        margin: -1px -8px -8px -8px;
        background-color: black;
        color: white;
        

    }
    .social-mediaimg{
        width:60px;
        height: 60px;
    }   

}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (min-width: 1281px) {
    .kapish{
        width: 400px;
		height: 400px;
        border-radius: 50%;
        -webkit-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        -moz-box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
        box-shadow: -2px -4px 97px 9px rgba(255,255,255,1);
    }
    .photo{
    
        background: url(../images/raindrops.svg);
        width:120%;
        margin: -100px -8px -8px -8px;
        padding-left: 100px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color:black;
    }

    nav{
        display: flex;  
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        margin: -27px -8px 0px -10px;
        background-color: black;
        padding:50px

         
        
     }

     .line-parent{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        font-size: 50px;
        margin-top: 100px;
        margin-left: -500px;
    }

     .line-1{
   
        font-size: 90px;
        color:white;
        margin: 0;
        animation:rollIn; 
        animation-duration: 3s; 
        align-self: center;

     }
     .mait{
        padding: 30px;
        margin: -8px -8px -8px -8px;
        display: flex;
        flex-direction: row;
        background-color: black;
        color:white;
        justify-content: center;
        align-items: center;   
        font-size: 40px;       
    }

    .logo{
        width: 500px;
        height: 500px;
    }
    .mait-descrip{
        padding-left: 40px;
        text-align: end;   

    }

    .imgs{
        width: 350px;
        height: 350px;
        padding-left: 20px;
    }
    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: -8px -8px -8px -8px;
        padding: 15px 15px 15px 2px;
        color: white;
        background: black;

    }
    .social-media h3{
        justify-self: center;
    }
    .social-mediaimg{
        width:60px;
        height: 60px;
    }


}



